.conta_welcome{
    background: linear-gradient(rgba(11, 12, 94, 0.479),rgba(11, 60, 94, 0.479),rgba(11, 26, 94, 0.479)), url(../img/art-welcome.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 200px 0px;
    background-position: center 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conta_welcome figcaption{
    text-align: center;
    width: 50%;
}

.conta_welcome figcaption h2{
    color: white;
    font-size: 50px;
    margin-bottom: 20px;
}

.conta_welcome figcaption p{
    color: white;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
}

.conta_about-event{
    display: flex;
    
}

.container_about{
    background: linear-gradient(rgba(0, 0, 0, 0.466),rgba(202, 101, 6, 0.849)), url(../img/art-event.jpeg);
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.container_event{
    background: linear-gradient(rgba(0, 0, 0, 0.466),rgba(128, 10, 10, 0.767)), url(../img/art-about.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.conta_about,.conta_event{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 40px;
}

.conta_about h2,.conta_event h2{
    font-size: 40px;
}

.conta_about h3,.conta_event h3{
    padding: 20px 0px;
    text-transform: uppercase;
    letter-spacing: 1;
}

.conta_about p,.conta_event p{
    line-height: 35px;
}

.conta_about button,.conta_event  button{
    border: 1px solid white;
    background: rgb(255, 255, 255);
    height: 40px;
    margin-top: 40px;
    border-radius: 20px;
    overflow: hidden;
}

.conta_about button a,.conta_event  button a{
    padding: 20px;
    font-weight: bold;
    transition: 0.5s;
    text-decoration: none;
    color: black;
}

.conta_about button a:hover,.conta_event  button a:hover{
    transition: 0.5s;
    background-color: rgb(0, 0, 0);
    color: white;
}

/* teachers */

.container_persons{
    background: linear-gradient(rgba(2, 2, 2, 0.719),rgba(10, 0, 7, 0.548)), url(../img/bg-persons.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 100px 0px;
}

.container_persons h2{
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 40px;
    color: white;
    font-size: 35px;
}

.container_persons .teacher{
    width: 300px;
    text-align: center;
    color: white;
    margin: 0px 20px;
}

.container_persons .teacher img{
    width: 100%;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 6px solid rgba(0, 0, 0, 0.164);
}

.container_persons .teacher h3{
    padding: 10px 0px;
}

.container_persons .teacher p{
    font-size: 14px;
}

.txt-blue{
    color: rgb(0, 162, 255);
}

.txt-yellow{
    color: rgb(255, 174, 0);
}

.txt-red{
    color: rgb(219, 52, 52);
}

.container_persons .teacher p{
    line-height: 30px;
}

/* gallery */


.container_gallery{
    background-color: rgba(0, 0, 0, 0.904);
    padding-top: 50px;
    padding-bottom: 150px;
}


.container_gallery h2{
    text-align: center;
    color: white;
    padding: 40px 0px 10px 0px;
    font-size: 35px;
}

.container_gallery p{
    text-align: center;
    color: white;
    padding: 0px 0px 40px 0px;
}

.conta_gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 350px;
}

.gallery__item{
    overflow: hidden;
}

.gallery__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container_gallery button{
    display: block;
    margin: auto;
    margin-top: 50px;
    background-color: rgba(128, 128, 128, 0.37);
    height: 50px;
    border-radius: 20px;
    border: none;
    transition: 0.5s all;
    border: 3px solid rgba(128, 128, 128, 0);
}

.container_gallery button a{
    color: white;
    padding: 10px 40px;
    font-weight: bold;
    text-decoration: none;
}

.container_gallery button:hover{
    background-color: black;
    transition: 0.5s all;
    border: 3px solid rgba(128, 128, 128, 0.37);
}

@media only screen and (max-width:1150px){

    .conta_welcome figcaption{
        width: 80%;
    }

    .conta_about p,.conta_event p{
        font-size: 13px;
        line-height: 25px;
    }

    .container_persons .teacher img{
        width: 80%;
        height: 50%;
    }

    .gallery__item:nth-child(1),.gallery__item:nth-child(2),.gallery__item:nth-child(3),.gallery__item:nth-child(4),.gallery__item:nth-child(5),.gallery__item:nth-child(6),.gallery__item:nth-child(7),.gallery__item:nth-child(8){
        grid-column-start: span 2;
    }
}

@media only screen and (max-width:830px){
    
    .conta_about-event{
        flex-direction: column;
    }

}

@media only screen and (max-width:670px){

    .container_gallery{
        padding-top: 0px;
        padding-bottom: 50px;
    }

    .container_gallery p{
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .gallery__item:nth-child(1),.gallery__item:nth-child(2),.gallery__item:nth-child(3),.gallery__item:nth-child(4),.gallery__item:nth-child(5),.gallery__item:nth-child(6),.gallery__item:nth-child(7),.gallery__item:nth-child(8){
        grid-column-start: span 4;
    }
}

@media only screen and (max-width:430px){
    .conta_welcome figcaption{
        width: 100%;
    }
    .conta_about,.conta_event{
        padding: 80px 15px;
        text-align: center;
    }
    .conta_about p,.conta_event p{
        text-align: justify;
    }
    .container_persons{
        padding: 0;
    }

    .container_persons h2{
        padding-top: 20px;
    }

    .container_persons .teacher{
        width: 90%;
    }

    .container_persons .teacher img{
        width: 50%;
    }
}